
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #ffffff;
    background-color: #000000;
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
    color: #ffffff;
    margin-bottom: 10px;
  }
  
  p {
    margin-bottom: 20px;
  }
  
  a {
    text-decoration: none;
    color: #337ab7;
  }
  
  a:hover {
    color: #23527c;
  }
  
  /* Header Styles */
  
  header {
    background-color: #333;
    padding: 20px;
    text-align: center;
  }
  
  header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
  }
  
  header nav li {
    margin-right: 20px;
  }
  
  header nav a {
    color: #fff;
  }
  
  header nav a:hover {
    color: #ccc;
  }
  
  /* Hero Styles */
  
  .hero {
    background-color: hsl(0, 0%, 0%);
    padding: 100px;
    text-align: center;
  }
  
  .hero h1 {
    font-size: 48px;
    margin-bottom: 20px;
  }
  
  .hero video {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
  }
  
  /* About Styles */
  
  .about {
    padding: 50px;
  }
  
  .about h2 {
    margin-top: 0;
  }
  
  
  .gallery {
    padding: 50px;
  }
  
  .gallery-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .gallery img {
    width: 25%;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  
  .watch-description {
    width: 25%;
    margin: 10px;
    padding: 20px;
    background-color: #6085ff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  
  .watch-description h3 {
    margin-top: 0;
  }
  
  
  footer {
    background-color: #333;
    padding: 20px;
    text-align: center;
    color: #fff;
  }
  
  footer ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
  }
  
  footer li {
    margin-right: 20px;
  }
  
  footer a {
    color: #fff;
  }
  
  footer a:hover {
    color: #ccc;
  }